<!DOCTYPE html>
<html>
    <head>
        <title>Tanna's Blog</title>
</head>
<body>
    </header>
        <h1><a href="/">Tanna's Blog</a></h1>
    </header>
    {% for post in posts %}
         <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}

         <article>
            <time>published: 02.27.2025, 1344</time>
             <h2><a href="">My second post</a></h2>
             <p>I'm tired!</p>

        </article>
    <body>
</html>