<!DOCTYPE html>
<html>
    <head>
        <title>Tanna's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Tanna's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>It's been a long, but productive day.
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My second post</a></h2>
            <p>Yesterday wasn't as busy.
        </article>
    </body>
</html>